body {
    font-family: Comic Sans MS, cursive; 
    margin: 0;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    background-color: #f0f7ff;
}

header {
    font-family: Comic Sans MS, cursive; 
    margin: 0;
    padding: 20px 70px;
    background: linear-gradient(135deg, #2091f4, #0a3a83);
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

h1 {
    margin: 0;
    font-size: 2rem;
    font-weight: bold;
    color: white;
    text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.2);
}

main {
    flex: 1;
    padding: 50px 70px;
}

.add-task-form {
    margin-left: 15px;
    /* margin-bottom: 15px; */
    width: 450px;
    height: 150px;
    padding: 15px;
    background-color: #FFFFFF;
    border-radius: 16px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.08);
    display: flex;
    flex-direction: column;
    gap: 10px;
}

/* .add-task-form:hover {
    transform: translateY(-2px);
    box-shadow: 0 6px 16px rgba(0, 0, 0, 0.12);
} */

.input-label {
    margin-top: 10px;
    margin-bottom: 0;
    font-size: 24px;
    font-weight: bold;
    color: #2c3e50;
}

.input-group {
    gap: 15px;
    display: flex;
    align-items: center;
    justify-content: space-between; 
    flex-wrap: nowrap;
    /* width: 200px; */
}

input[type="text"] {
    outline: none;
    border: 1px solid #CED4DA;
    border-radius: 10px !important;
    padding: 10px 20px;
    font-size: 1rem;
    flex: 1;
    width: 200px; /* Фиксированная базовая ширина */
    flex-grow: 1; /* Может растягиваться при наличии места */
    flex-shrink: 1; /* Может сжиматься при нехватке места */
    min-width: 120px; /* Ниже не сожмётся */
    max-width: 400px;
}

input[type="text"]::placeholder {
    color: #6C757D;
}

.input-group input[type="text"]:focus {
    border-color: #3498db;
}

.input-group .btn-primary.btn-lg.btn-add {
    border: none;
    cursor: pointer;
    padding: 10px 20px;
    font-size: 18px;
    color: white;
    border-radius: 10px !important;
    background: linear-gradient(to right, #3498db, #2980b9);
}

.btn-add:hover {
    /* transform: translateX(1px); */
    transform: translateY(-2px);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.taskboard {
    display: flex;
    gap: 20px;
    width: 100%;
    overflow-x: auto;
    margin-top: 20px;
    overflow-x: hidden; 
}

.task-section {
    padding: 15px;
    flex: 1;
    border-radius: 16px;
    background-color: transparent;
    margin-left: 0;
    display: flex;
    justify-content: space-between; 
    gap: 20px;
}

.task-list-section {
    flex: 1;
    /* display: flex; */
    flex-direction: column;
    gap: 1rem;
    padding: 1rem;
    background: transparent;
    border-radius: 8px;
}

.title {
    margin-bottom: 10px;
    padding: 10px 20px;
    font-size: 18px;
    font-weight: bold;
    cursor: pointer;
    border: none;
    white-space: nowrap;
    border-radius: 10px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.08);
}

.title--backlog {
    background: linear-gradient(135deg, #899da2, #ceeaf1);
}

.title--processing {
    background: linear-gradient(135deg, #b284bf, #f6d9ff);
}

.title--done {
    background: linear-gradient(135deg, #7bc87f, #c1ffc4);
}

.title--trash {
    background: linear-gradient(135deg, #ff9572, #ffc8b6);
}

.tasks-list {
    flex: 1;
    /* max-width: 250px; */
    gap: 10px;
    display: flex;
    flex-direction: column;
    list-style-type: none;
    padding-left: 0;
    padding-right: 0;
    margin-left: 0;
    margin-right: 0;
}

.task-card {
    padding: 18px;
    border-left: 4px solid;
    border-radius: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.05);
    background-color: rgba(255, 255, 255, 0.8);
}

.task-card:hover {
    transform: translateX(5px);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.task--backlog:nth-child(even) {
    border-left-color: #899da2;
}

.task--backlog:nth-child(odd) {
    border-left-color: #ceeaf1;
}

.task--processing:nth-child(even) {
    border-left-color: #b284bf;
}

.task--processing:nth-child(odd) {
    border-left-color: #f6d9ff;
}

.task--done:nth-child(even) {
    border-left-color: #7bc87f;
}

.task--done:nth-child(odd) {
    border-left-color: #c1ffc4;
}

.task--trash:nth-child(even) {
    border-left-color: #ff9572;
}

.task--trash:nth-child(odd) {
    border-left-color: #ffc8b6;
}

.task--empty {
    border-left: none;
    box-shadow: none;
    background-color: transparent;
    border: 1px dashed #929292;
}

.task--empty:hover {
    transform: none;
    box-shadow: none;
}

.btn-clear {
    margin-top: 10px;
    padding: 10px;
    width: 100%;
    font-size: 16px;
    color: white;
    border: none;
    cursor: pointer;
    border-radius: 10px;
    background: linear-gradient(135deg, #ff8181, #ec2e2e);
    /* background-color: linear-gradient(135deg, #ec2e2e, #ff8181); */
}

.btn-primary.btn-lg.btn-clear:hover {
    background-color: #ad3f3f;
}

.btn-clear:hover {
    transform: translateY(-2px);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}