body {
    font-family: Comic Sans MS, cursive; 
    margin: 0;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    background-color: #edf3f8;
    font-family: Comic Sans MS, cursive;
}

header {
    margin: 0;
    padding: 20px 70px;
    background-color: #1268e8;
}

h1 {
    margin: 0;
    font-size: 2rem;
    font-weight: bold;
    color: white;
}

main {
    flex: 1;
    padding: 50px 70px;
}

.add-task-form {
    margin-left: 18px;
    margin-bottom: 20px;
    width: 450px;
    height: 150px;
    padding: 15px;
    background-color: #FFFFFF;
    border-radius: 16px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.input-label {
    margin-top: 10px;
    margin-bottom: 0;
    font-size: 24px;
    font-weight: bold;
    color: #212529;
}

.input-group {
    gap: 15px;
    display: flex;
    align-items: center;
}

input[type="text"] {
    outline: none;
    border: 1px solid #CED4DA;
    border-radius: 10px !important;
    padding: 10px 20px;
    font-size: 1rem;
    flex: 1;
}

input[type="text"]::placeholder {
    color: #6C757D;
}

.input-group .btn-primary.btn-lg.btn-add {
    border: none;
    cursor: pointer;
    padding: 10px 20px;
    font-size: 18px;
    color: white;
    border-radius: 10px !important;
}

.btn-primary.btn-lg.btn-add:hover {
    background-color: #224894;
}

.tasks-wrapper {
    gap: 20px;
    display: flex;
}

.task-columns {
    gap: 20px;
    width: 100%;
    display: flex;
}

.task-section {
    padding: 15px;
    flex: 1;
    border-radius: 16px;
    background-color: transparent;
}

.title {
    margin-bottom: 10px;
    padding: 10px 20px;
    font-size: 18px;
    font-weight: bold;
    cursor: pointer;
    border: none;
    white-space: nowrap;
    border-radius: 10px;
    background-color: rgba(255, 255, 255, 0.8);
}

.tasks-list {
    gap: 10px;
    display: flex;
    flex-direction: column;
    margin-top: 40px;
    list-style-type: none;
    padding-left: 0;
}

.task-card {
    padding: 18px;
    border-left: 4px solid;
    border-radius: 10px;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
    background-color: rgba(255, 255, 255, 0.8);
}

.backlog .title-backlog {
    color: #6f7a8a;
    background-color: #e3e2e3;
}

.backlog .task-card {
    border-left-color: #e3e2e3;
}

.in-progress .title-progress {
    color: #4286d3;
    background-color: #c1dbf7;
}

.in-progress .task-card {
    border-left-color: #c1dbf7;
}

.done .title-done {
    color: #60b879;
    background-color: #c7f9d3;
}

.done .task-card {
    border-left-color: #c7f9d3;
}

.trash .title-trash {
    color: #c55050;
    background-color: #fbe3e3;
}

.trash .task-card {
    border-left-color: #fbe3e3;
}

.btn-clear {
    margin-top: 10px;
    padding: 10px;
    width: 100%;
    font-size: 16px;
    color: white;
    border: none;
    cursor: pointer;
    border-radius: 10px;
    background-color: #c55050;
}

.btn-primary.btn-lg.btn-clear:hover {
    background-color: #ad3f3f;
}