body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
    color: #333;
    margin: 0;
    padding: 0;
    text-align: center;
}

header {
    background-color: #1268e8;
    padding: 20px;
    color: white;
}

h1 {
    margin: 0;
    font-size: 2rem;
}

main {
    padding: 20px;
}

p {
    font-size: 1.2rem;
}
